---
import Layout from '@/layouts/Layout.astro'
import PROJECTS from '@/data/projects'
import { withBase } from '@/lib/with-base'
import { pageSeo } from '@/lib/site'

const { title, description } = pageSeo.work
---

<Layout title={title} description={description}>
  <div>
    <h1 class="mb-8 text-2xl font-heading sm:text-4xl">Work</h1>

    <div class="flex flex-col gap-5">
      {
        PROJECTS.map((project) => (
          <div class="border-border dark:border-darkBorder shadow-light dark:shadow-dark rounded-base border-2 bg-main p-4 sm:p-5">
            <div class="border-border dark:border-darkBorder shadow-light dark:shadow-dark aspect-video !-bottom-[2px] overflow-hidden rounded-base border-2">
              <img
                class="h-full w-full rounded-base object-cover"
                src={withBase(project.previewImage)}
                alt={project.name}
              />
            </div>

            <div class="text-text mt-5 font-base">
              <h2 class="text-xl font-heading sm:text-2xl">{project.name}</h2>

              <p class="mt-2">{project.description}</p>

              <div class="mt-8 grid grid-cols-2 gap-5">
                <a
                  class="border-border dark:border-darkBorder dark:bg-secondaryBlack dark:text-darkText shadow-light dark:shadow-dark cursor-pointer rounded-base border-2 bg-white px-4 py-2 text-center text-sm font-base transition-all hover:translate-x-boxShadowX hover:translate-y-boxShadowY hover:shadow-none sm:text-base dark:hover:shadow-none"
                  href={project.liveLink}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Visit
                </a>
                <a
                  class:list={[
                    'border-border dark:border-darkBorder dark:bg-secondaryBlack dark:text-darkText shadow-light dark:shadow-dark cursor-pointer rounded-base border-2 bg-white px-4 py-2 text-center text-sm font-base transition-all hover:translate-x-boxShadowX hover:translate-y-boxShadowY hover:shadow-none sm:text-base dark:hover:shadow-none',
                    project.repoUrl === '#' && 'pointer-events-none opacity-50',
                  ]}
                  href={project.repoUrl}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Github
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
